body,
html {
  margin: 0;
  padding: 0;
  background-image: #2f112d;
  min-height: 100svh;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
}

main{
  min-height: 95vh;
  background: #2f112d;
}
.side-menu-container{
  display: none;
}

.top-content {
  position: relative;
  background: #2f112d;
}

.card-balance {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 10%;
  background: #530030;
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.1);
  color: white;
  padding: 1rem;
  align-items: center;

  .balance {
    margin-bottom: 1rem;
  }

  .profitability {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: baseline;

    .p {

      display: flex;
      gap: 3px;

    }

    .last-transaction{
      margin-bottom: 0;
    }
  }
}

.history-transactions {
  background-color: #2f112d;
  padding: 2rem;
  height: 100%;
  margin-top: 1rem;
}

.history-text {
  margin-top: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.list-transactions {
  background: #2f112d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item-list-transactions {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .owner-transaction{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      gap: 1rem;
    }
  }
}

footer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2f112d;

  .botao{
    text-align: center;
    border-radius: 100%;
    border: none;
    background-color: #CA273E;
    color: white;
    position: absolute;
    bottom: 38%;
    width: 14%;
    height: 119%;
  
  }
  
}

.extra-li{
  display: none !important;
  
}

@media (min-height: 710px){
  .extra-li{
    display: flex !important;
  }
}
@media (min-width: 606px){



footer{
  display: none !important;
}
}
@media (min-width: 610px){
  body,  html{
    overflow-y:scroll !important;
  }
  .curve-background{
   visibility: hidden;
  display: none;
  }

  .side-menu-container{
    display: flex !important;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#530030;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 90px;
    cursor: pointer;
    background-color:#2f112d;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#2f112d;
    color: #f8ccd2;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .top-content{
    margin-bottom: -10rem;
    height: 30vh;
  }
  .card-balance {
    position: absolute;
    width: 55%;
    height: 20rem;
    top: 15%;
    left: 23%;
    background: #530030;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.1);
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:start;

    .balance-text{
        font-size: 40px !important;      
    }

    .profitability {
      display: flex;
      height: 40%;
      font-size: 200% !important;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      

      .p {
        display: flex;
        align-items: center;
        gap: .3rem;
      }
         
      }
  }

   .circle-balance{
    width: 30px !important;
    height: 30px!important;
    }
  

  .history-transactions {
    margin-top: 8%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between !important;   
  }
  .owner-and-date{
    font-size: 30px!important;
  }

  .history-text{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
   }

   .icon-owner{
      width: 90px;
      height: 90px;
   }


  .list-transactions{
    width: 50% !important;
    font-size: 30px;
  }

}